# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
data/
# Logs
logs/
*.log

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/
airflow-webserver.pid

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Snowflake / Temp Files
*.tmp
*.bak